html(lang='es')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=device-width,initial-scale=1')
        include includes/header.pug
        title= title
    
    body
        include includes/navigation.pug
        div.container
            header.row
                .col-lg-12.text-center
                    img(src="img/pews-logo.png", alt="logo").animate__animated.animate__bounceIn

        include includes/footer.pug